<%-include('header.ejs')%>
    <p>당신의 연체 위험도는 "<%= outputString %>" 입니다!</p>
    
    
    <p>카드 추천 받으러 가기!</p>
    <a class="btn btn-primary btn-lg" href="/transaction" role="button">카드 추천 받기 버튼</a>
    
    

<%-include('footer.ejs')%>