<%-include('header.ejs')%>
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">
            <div class="main-banner">
                <div class="row">
                  <div class="col-lg-7">
                    <div class="header-text">
                      
                        <h4><%=name%>님 <%= outputString %> &#127804; </h4>
                        <h4>카드 추천 받으러 가기!</h4>
                        <br>
                        <div class="main-button">
                          <a href="/transaction" role="button">카드 추천 받기🔗</a>
                        </div>
                      
                      
                    </div>
                  </div>
                </div>
              </div>




        </div>
      </div>
    </div>
</div>



    
    

<%-include('footer.ejs')%>