<%-include('header.ejs')%>

      <div class="jumbotron">
        <h1 class="display-4">이재영님!</h1>
        <p class="lead">당신의 신용등급을 확인해보세요!</p>
        <hr class="my-4">
        <p>소비내역 확인하러가기</p>
        <a class="btn btn-primary btn-lg" href="/transaction" role="button">클릭!</a>
      </div>
      
<%-include('footer.ejs')%>