<%-include('header.ejs')%>

<% if(user_id){ %>
  <h1 class="display-4"><%=name%>님</h1>
  <p class="lead">당신의 신용등급</p>
  <button type="button" class="btn btn-outline-info">Info</button>
  <p class="lead">당신의 소비내역을 입력해 주세요.</p>
        <div class="jumbotron">
          <form action = "/transactionProc" method="post">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">소비내역</li>
                  </ol>
              </nav>
              
              <div class="form-group">
                <label class="input-group-text" for="inputGroupSelect01">category</label>
                <select class="custom-select" id="category" name = "category">
                    <option selected>...</option>
                    <option value="음식">음식</option>
                    <option value="패션">패션</option> 
                    <option value="주유">주유</option>
                </select>
                <label for="thismonth">이번 달</label>
                <input type="number" name = "thismonth" class="form-control" id="thismonth" min="0" max="999999999999" required>
          
                <label for="lastmonth">저번 달</label>
                <input type="number" name = "lastmonth" class="form-control" id="lastmonth" min="0" max="999999999999" required>
              </div>
              
  
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" required>
                  <label class="form-check-label" for="gridCheck">
                    개인정보 수집 동의
                  </label>
                </div>
              </div>
              <button type="submit" href="/transactionProc" class="btn btn-primary">제출</button>
          </form> 
          <hr />
        </div>
        <a class="btn btn-primary btn-lg" href="/loading" role="button">조회</a>

































<%} else{ %>
  <p class="lead">로그인이 필요합니다</p>
  <a class="btn btn-primary btn-lg" href="/gradelogin" role="button">로그인!</a>
<%} %>
      
<%-include('footer.ejs')%>