<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Cyborg - Awesome HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
  </head>
  <body>
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <img src="assets/images/MASTerLOGO.png" alt="">
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Search End ***** -->
                      <div class="search-input">
                        <form id="search" action="#">
                          <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                          <i class="fa fa-search"></i>
                        </form>
                      </div>
                      <!-- ***** Search End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/transaction">RECOMMEND</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/recommend">SEARCH</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/grade">CREDIT GRADE</a>
                        </li>
                        
                        <% if(user_id){ %>
                          <li class="nav-item">
                            <a class="nav-link" href="/transaction_mydata"><%=name%>님</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/logout">LOGOUT</a>
                          </li>
                        <%} else{ %>
                          <li class="nav-item">
                            <a class="nav-link" href="/login">LOGIN</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/register">REGISTER</a>
                          </li>
                        <%} %>
                      </ul>   
                      <a class='menu-trigger'>
                        <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                    </nav>
                </div>
          </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-content">
            <div class="gaming-library">
              <div class="col-lg-12">
                <div class="heading-section">
                  <h4>Register</h4>
                </div>
                <div class="item">
                  <form action = "/registerProc" method="post">
                    <div class="form-group">
                      <label for="name">이름</label>
                      <input type="text" name = "name" class="form-control" id="name" placeholder="Name">
                      
                      <label for="user_id">아이디</label>
                      <input type="text" name = "user_id" class="form-control" id="user_id"placeholder="ID">

                      <label for="email">이메일</label>
                      <input type="email" name = "email" class="form-control" id="email"placeholder="EMAIL">

                      <label for="password">비밀번호</label>
                      <input type="password" name = "pw" class="form-control" id="pw"placeholder="PASSWORD">

                      <label for="age">나이</label>
                      <input type="number" name = "age" class="form-control" id="age"placeholder="AGE">
                      </div>
                    
                    </div>
                    <br>
                    <button type="submit"  class="btn btn-primary">Register</button>
                  </form> 
                </div>
              </div>
            </div>
            <!-- ***** Gaming Library End ***** -->
          </div>
        </div>
      </div>
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright © 2036 <a href="#">Andong Nationnal</a> Univ. All rights reserved. 
            
            <br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>  Distributed By <a href="https://github.com/jaeyeong07" target="_blank" >JaeYeong-Lee</a></p>
          </div>
        </div>
      </div>
    </footer>






    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  
    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>
  </body>
</html>

